<h2>Pokemon list</h2>

<app-pokemon-filter (pokemonNameFilter)="filterPokemons($event)"
                    (resetPokemonFilter)="getPokemons()"
                    ></app-pokemon-filter>
                    
<button type="button" class="pokemon-view" (click)="changeView()"> 
Change view
</button>

<div *ngIf="isListOfPokemons" class="pokemon-list">
  <div *ngFor="let pokemon of pokemons"
  [class.selected]="pokemon === selectedPokemon"
  class="pokemon-list__item"
    >
    <a routerLink="/details/{{pokemon.id}}">
     <span class="pokemon-list__item__badge">{{pokemon.id}}</span>
     {{pokemon.name}}
     {{pokemon.damage}}
     {{pokemon.caught ? "Caught" : "Not caught"}} 
     <app-edit-button></app-edit-button>
    </a>  
</div>
</div>

<div *ngIf="!isListOfPokemons" class="pokemon-cards"> 
  <a routerLink="/details/{{pokemon.id}}"*ngFor="let pokemon of pokemons" class="pokemon-card__item" [damage-border]="pokemon.damage">
    <img class="pokemon-card__item__image" src='/assets/images/{{ pokemon.id }}.png'>
    <div class="pokemon-card__item__description">
      <span>#{{pokemon.id}}</span><br>
     Name: {{pokemon.name}}<br>
     Damage: {{pokemon.damage}}<br>
     Caught: {{pokemon.caught}}
      <app-catch-button [pokemon] = "pokemon"
                        (changeButton)="catchPokemon($event)">
     </app-catch-button>
    </div>
  </a>
</div>
