<div *ngIf="pokemon && !editMode" class="pokemon-card__item">
  <img
    class="pokemon-card__item__image"
    src="/assets/images/{{ pokemon.id }}.png"
  />
  <div class="pokemon-card__item__description">
    <span>#{{ pokemon.id }}</span
    ><br />
    Name: {{ pokemon.name }}<br />
    Damage: {{ pokemon.damage }}<br />
    Caught: {{ pokemon.caught }}
  </div>
  <button (click)="enableEditing()">Edit detail</button>
  <button (click)="goBack()">Go back</button>
</div>

<div *ngIf="pokemon && editMode" class="pokemon-card__item">
    <form>
        <label>name:
            <input [(ngModel)]="pokemonNewName" placeholder="name" [ngModelOptions]="{standalone: true}" />
        </label>
        <input [(ngModel)]="pokemonNewDamage" placeholder="damage" [ngModelOptions]="{standalone: true}" />
        <button (click)="editDetails(pokemonNewName, pokemonNewDamage)">Save</button>
        <button (click)="disableEditing()">Close</button>
        <button (click)="goBack()">Go back</button>
    </form>
  
</div>
